{% extends 'base.html' %}
{% block title %}Blog{% endblock %}

{% block head %}
 {{ super() }}
<style type="text/css">
  .glyphicon {
    margin-right: 5px;
  }
  .label {
    border-radius: 0px;
  }
  .post-title {
    font-size: 20px;
    font-weight: bold;
  }
  small {
    text-align: left;
    color: gray;
  }
  .blog-post {
    padding-top: 10px;
    padding-bottom: 10px;
  }

</style>
 {% endblock %}

{% block content %}

<div id="blog-container">
    <div>
      <div id="blog-header">
        <h4 class="main-title">Where your stories are shared</h4>
      </div>
      <div id="blog-content">
        <div class="blog-post">
          <p class="post-title">Assult on 12th Street</p>
          <p><small><span class="glyphicon glyphicon-time"></span>Post by Jane Dane, Sep 27, 2015.</small></p>
          <span class="label label-danger">Violence</span>  <span class="label label-primary">Ipsum</span>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
        </div>
        <div class="blog-post">
          <p class="post-title">Verbal Harassment on 14th Street</p>
          <p><small><span class="glyphicon glyphicon-time"></span>Post by Jane Dane, Sep 27, 2015.</small></p>
          <span class="label label-danger">Explecit Language</span>  <span class="label label-primary">Ipsum</span>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
        </div>
      </div>
      <input type="button" class="btn btn-primary" onclick="location.href='/blog/add';" value="Add a post"/>
    </div>
</div>
{% endblock %}
