{% extends 'base.html' %}
{% block title %}FAQ{% endblock %}

{% block head %}
 {{ super() }}
 <style type="text/css">
  .quest {
    font-weight: bold;
  }
 </style>
 {% endblock %}

{% block content %}

<h4 class="main-title">FAQ</h4>
<div class="quest-ans">
  <p class="quest">What is Lorem Ipsum?</p>
  <p class="ans">Neque porro quisquam est qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit</p>
</div>
<div class="quest-ans">
  <p class="quest">What is Lorem Ipsum?</p>
  <p class="ans">Neque porro quisquam est qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit</p>
</div>
<div class="quest-ans">
  <p class="quest">What is Lorem Ipsum?</p>
  <p class="ans">Neque porro quisquam est qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit</p>
</div>
<div class="quest-ans">
  <p class="quest">What is Lorem Ipsum?</p>
  <p class="ans">Neque porro quisquam est qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit</p>
</div>
<div class="quest-ans">
  <p class="quest">What is Lorem Ipsum?</p>
  <p class="ans">Neque porro quisquam est qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit</p>
</div>
<div class="quest-ans">
  <p class="quest">What is Lorem Ipsum?</p>
  <p class="ans">Neque porro quisquam est qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit</p>
</div>
<div class="quest-ans">
  <p class="quest">What is Lorem Ipsum?</p>
  <p class="ans">Neque porro quisquam est qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit</p>
</div>
<div class="quest-ans">
  <p class="quest">What is Lorem Ipsum?</p>
  <p class="ans">Neque porro quisquam est qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit</p>
</div>

{% endblock %}
