{% extends 'base.html' %}
{% block title %}FAQ{% endblock %}

{% block head %}
 {{ super() }}
 <style type="text/css">
  .quest {
    font-weight: bold;
  }
 </style>
 {% endblock %}

{% block content %}

<div id="faq-container">
  <h4 class="main-title">FAQ</h4>
  <div class="quest-ans">
    <p class="quest">What is [sh]out?</p>
    <p class="ans">
    [sh]out is an online platform that empowers victims of sexual assault to anonymously geo-report instances of sexual assault. By visualizing a crowd-sourced map of sexual assault occurrences, people can make more informed decisions on the relative safety different locations. 
    <br><br>
    [sh]out fosters a supportive community of resources and allies through the sharing of experiences and advice through the blog, and provides personalized resources to sexual assault victims based on location.</p>

  </div>
  <br><br>
  <div class="quest-ans">
    <p class="quest">How do I use [sh]out?</p>
    <p class="ans">To view reports of sexual assault, drag to move around on the map and double click to zoom in. <br>To plot an incident of sexual assault on the map, toggle the slider button to "Add" and click the location the incident occurred on the map. Input the relevant information into the pop-up box at the pin, and click submit to save.</p>
  </div>
  <br><br>
  <div class="quest-ans">
    <p class="quest">What information is saved about me?</p>
    <p class="ans">All reports of sexual assault are anonymous. No identifying information about you is saved into our database.</p>
  </div>
  <br><br>
  
  <div class="quest-ans">
    <p class="quest">How can I contact the creaters of [sh]out?</p>
    <p class="ans">Please email us at admin@shout.com.</p>
  </div>


  <!-- 
  <div class="quest-ans">
    <p class="quest">What is Lorem Ipsum?</p>
    <p class="ans">Neque porro quisquam est qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit</p>
  </div>
  <div class="quest-ans">
    <p class="quest">What is Lorem Ipsum?</p>
    <p class="ans">Neque porro quisquam est qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit</p>
  </div>
  <div class="quest-ans">
    <p class="quest">What is Lorem Ipsum?</p>
    <p class="ans">Neque porro quisquam est qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit</p>
  </div>
  <div class="quest-ans">
    <p class="quest">What is Lorem Ipsum?</p>
    <p class="ans">Neque porro quisquam est qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit</p>
  </div> -->
</div>

{% endblock %}
