{% extends 'base.html' %}
{% block title %}Home{% endblock %}

{% block head %}
 {{ super() }}
 <meta name="viewport" content="initial-scale=1.0">
 <style type="text/css">
    html, body {
      height: 100%;
      margin: 0;
      padding: 0;
    }
    #map {
      height: 45em;
    }
      .panel-default {
        border-radius: 0px;
      }

      @media only screen and (min-width: 650px) {
        #map-container {
          position:relative;

        }
        #index-description {
          position:absolute !important;
          top: 0;
          width: 30em;
          margin-left: 5em;
          margin-top: 10em;
          z-index:1;
        }
      }

</style>
{% endblock %}

{% block content %}

<div class="container">
  <div class="row">

    <div id="map-container">
      <div id="index-description">
        <div class="panel panel-default">
          <div class="panel-body">
            <h4 class="main-title site-title">[sh]out</h4>
            <p><b>Empowers</b> victims of sexual assault to anonymously geo-report instances of sexual assault.</p>
            <p><b>Fosters</b> a supportive community of resources and allies.</p>
            <p><b>Provides</b> personalized resources to sexual assault victims.</p>
            <a class="btn btn-primary" href="/map" role="button">Plot Incident</a>
          </div>
        </div>
      </div>
      <div id="map"></div>
      <div id="capture"></div>
    </div>

    <script>
    // Note: This example requires that you consent to location sharing when
    // prompted by your browser. If you see the error "The Geolocation service
    // failed.", it means you probably did not give permission for the browser to
    // locate you.

    function initMap() {
    var map = new google.maps.Map(document.getElementById('map'), {
      center: {lat: 37.7623, lng: -122.4354},
      zoom: 6
    });
    var infoWindow = new google.maps.InfoWindow({map: map});

    // Try HTML5 geolocation.
    if (navigator.geolocation) {
      navigator.geolocation.getCurrentPosition(function(position) {
        var pos = {
          lat: position.coords.latitude,
          lng: position.coords.longitude
        };

        infoWindow.setPosition(pos);
        infoWindow.setContent('Location found.');
        map.setCenter(pos);
      }, function() {
        handleLocationError(true, infoWindow, map.getCenter());
      });
      map.setOptions({draggable: true, zoomControl: false, scrollwheel: false, disableDoubleClickZoom: true});
    } else {
      // Browser doesn't support Geolocation
      handleLocationError(false, infoWindow, map.getCenter());
    }
    }

    function handleLocationError(browserHasGeolocation, infoWindow, pos) {
    infoWindow.setPosition(pos);
    infoWindow.setContent(browserHasGeolocation ?
                          'Error: The Geolocation service failed.' :
                          'Error: Your browser doesn\'t support geolocation.');
    }
    </script>

    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAGmpAfp26q_qnaJq_gd0q0Y4qCAq8n5Qo&callback=initMap"
           async defer></script>
  </div>
</div>
{% endblock %}
