{% extends 'base.html' %}
{% block title %}Resources{% endblock %}

{% block content %}

<div id="resources-container">
  <h4 class="main-title">Resources</h4>
  <p>From anywhere in the U.S. call the National Sexual Assault Hotline at 1.800.656.HOPE(4673) or call 202.544.3064 to reach the <a href="">RAINN</a> business office.</p>
  <p><a href="http://www.acar.org" target="_blank">Alabama Coalition Against Rape</a><br />
  Montgomery, AL<br/>
  334.264.0123</p>
  <p><a href="http://www.andvsa.org" target="_blank">Alaska Network on Domestic Violence &amp; Sexual Assault (ANDVSA)</a><br />
  Juneau, AK<br />
  907.586.3650</p>
  <p><a href="http://www.arizonasexualassaultnetwork.org" target="_blank">Arizona Sexual Assault Network (AzSAN)</a><br />
  Phoenix, AZ</p>
  <p><a href="http://www.acasa.us" target="_blank">Arkansas Coalition Against Sexual Assault</a><br />
  Fayetteville, AR<br />
  501.246.3276</p>
  <p><a href="http://www.calcasa.org" target="_blank">CALCASA Rape Prevention Resource Center</a><br />
  Sacramento, CA<br />
  916.446.2520</p>
  <p><a href="http://www.ccasa.org" target="_blank">Colorado Coalition Against Sexual Assault</a><br />
  Denver, CO<br />
  303.839.9999</p>
  <p><a href="http://www.connsacs.org" target="_blank">Connecticut Sexual Assault Crisis Services (CONNSACS)</a><br />
  East Hartford, CT<br />
  860.282.9881</p>
  <p><a href="http://www.contactlifeline.org/" target="_blank">Contact Lifeline</a><br />
  Wilmington, DE<br />
  302.761.9800</p>
  <p><a href="http://www.dcrcc.org/" target="_blank">DC Rape Crisis Center</a><br />
  Washington, DC<br />
  202.232.0789</p>
  <p><a href="http://www.fcasv.org" target="_blank">Florida Council Against Sexual Violence</a><br />
  Tallahassee, FL<br />
  850.297.2000</p>
  <p><a href="http://www.gnesa.org" target="_blank">Georgia Network to End Sexual Assault (GNESA)</a><br />
  Atlanta, GA<br />
  404.815.5261</p>
  <p><a href="http://guamcoalition.org/index.html" target="_blank">Guam Healing Arts Crisis Center</a><br />
  Tamuning, GU<br />
  671.647.5351</p>
  <p>Hawaii State Coalition for the Prevention of Sexual Assault<br />
  Honolulu, HI<br />
  808.733.9038</p>
  <p><a href="http://idvsa.org" target="_blank">Idaho Coalition Against Sexual &amp; Domestic Violence (ICASDV)</a><br />
  Boise, ID<br />
  208.384.0419</p>
  <p><a href="http://www.icasa.org/" target="_blank">Illinois Coalition Against Sexual Assault (ICASA)</a><br />
  Springfield, IL<br />
  217.753.4117</p>
  <p><a href="http://www.iowacasa.org" target="_blank">Iowa Coalition Against Sexual Assault (ICASA)</a><br />
  Des Moines, IA<br />
  515.244.7424</p>
  <p><a href="http://www.kcsdv.org" target="_blank">Kansas Coalition Against Sexual &amp; Domestic Violence</a><br />
  Topeka, KS<br />
  785.232.9784</p>
  <p><a href="http://www.kasap.org/" target="_blank">Kentucky Association of Sexual Assault Programs</a><br />
  Frankfort, KY<br />
  502.226.2704</p>
  <p><a href="http://www.lafasa.org" target="_blank">Louisiana Foundation Against Sexual Assault (LAFASA)</a><br />
  Hammond, LA<br />
  225.372.8995</p>
  <p><a href="http://www.mecasa.org" target="_blank">Maine Coalition Against Sexual Assault</a><br />
  Augusta, ME<br />
  207.626.0034</p>
  <p><a href="http://www.mcasa.org" target="_blank">Maryland Coalition Against Sexual Assault</a><br />
  Silver Spring, MD<br />
  301.328.7023</p>
  <p><a href="http://www.janedoe.org" target="_blank">Jane Doe Inc. / MCASADV</a><br />
  Boston, MA<br />
  617.248.0922</p>
  <p><a href="http://www.mencanstoprape.org/" target="_blank">Men Can Stop Rape</a><br />
  Washington, DC<br />
  202.265.6530</p>
  <p><a href="http://www.mcadsv.org" target="_blank">Michigan Coalition Against Domestic &amp; Sexual Violence</a><br />
  Okemos, MI<br />
  517.347.7000</p>
  <p><a href="http://www.mncasa.org" target="_blank">Minnesota Coalition Against Sexual Assault</a><br />
  St. Paul, MN<br />
  651.209.9993</p>
  <p><a href="http://www.mscasa.org/" target="_blank">Mississippi Coalition Against Sexual Assault</a><br />
  Jackson, MS<br />
  601.948.0555</p>
  <p><a href="http://www.mocadsv.org" target="_blank">Missouri Coalition Against Domestic and Sexual Violence</a><br />
  Jefferson City, MO<br />
  573.634.4161</p>
  <p><a href="http://www.mcadsv.com/" target="_blank">Montana Coalition Against Domestic Violence and Sexual Assault</a><br />
  Helena, MT<br />
  406.443.7794</p>
  <p><a href="http://www.ndvsac.org" target="_blank">Nebraska Coalition to End Sexual and Domestic Violence</a><br />
  Lincoln, NE<br />
  402.476.6256</p>
  <p>Nevada Coalition Against Sexual Violence<br />
  Las Vegas, NV</p>
  <p><a href="http://www.nhcadsv.org" target="_blank">New Hampshire Coalition Against Domestic &amp; Sexual Violence</a><br />
  Concord, NH<br />
  603.224.8893</p>
  <p><a href="http://www.njcasa.org/" target="_blank">New Jersey Coalition Against Sexual Assault</a><br />
  Trenton, NJ<br />
  609.631.4450</p>
  <p><a href="http://www.swcp.com/nmcsap/" target="_blank">New Mexico Coalition of Sexual Assault Programs</a><br />
  Albuquerque, NM<br />
  505.883.8020</p>
  <p><a href="http://www.nyscasa.org" target="_blank">New York State Coalition Against Sexual Assault</a><br />
  Albany, NY<br />
  518.482.4222</p>
  <p><a href="http://www.nycagainstrape.org" target="_blank">New York City Alliance Against Sexual Assault</a><br />
  New York, NY<br />
  212.229.0345</p>
  <p><a href="http://www.nccasa.org" target="_blank">North Carolina Coalition Against Sexual Assault</a><br />
  Raleigh NC<br />
  888.737.CASA (2272)</p>
  <p><a href="http://www.ndcaws.org/" target="_blank">North Dakota Council on Abused Women's Services/CASAND</a><br />
  Bismarck, ND<br />
  701.255.6240</p>
  <p><a href="http://www.oaesv.org" target="_blank">Ohio Alliance to End Sexual Violence</a><br />
  Cleveland, OH<br />
  888.886.8388</p>
  <p><a href="http://www.ocadvsa.org" target="_blank">Oklahoma Coalition Against Domestic Violence and Sexual Assault</a><br />
  Oklahoma City, OK<br />
  405.524.0700</p>
  <p><a href="http://www.ocadsv.com" target="_blank">Oregon Coalition Against Domestic and Sexual Violence</a><br />
  Portland, OR<br />
  503.230.1951</p>
  <p><a href="http://www.pcar.org" target="_blank">Pennsylvania Coalition Against Rape (PCAR)</a><br />
  Enola, PA<br />
  717.728.9740</p>
  <p><a href="http://www.dayoneri.org" target="_blank">Day One</a><br />
  100 Medway Street<br />
  Providence, RI 02906<br />
  401.421.4100<br />
  401.454.5565 (fax)<br />
  E-mail: <a href="mailto:info@DayOneRI.org">info@DayOneRI.org</a></p>
  <p><a href="http://www.sccadvasa.org/" target="_blank">South Carolina Coalition Against Domestic Violence &amp; Sexual Assault</a><br />
  Columbia, SC<br />
  803.256.2900</p>
  <p><a href="http://www.sdcedsv.org/" target="_blank">South Dakota Coalition Against Domestic Violence &amp; Sexual Assault</a><br />
  Pierre, SD<br />
  605.945.0869</p>
  <p><a href="http://www.tcadsv.org/" target="_blank">Tennessee Coalition Against Domestic and Sexual Violence</a><br />
  Nashville, TN<br />
  615.386.9406</p>
  <p><a href="http://taasa.org/" target="_blank">Texas Association Against Sexual Assault</a><br />
  Austin, TX<br />
  512.474.7190</p>
  <p><a href="http://www.ucasa.org/" target="_blank">Utah Coalition Against Sexual Assault</a><br />
  Salt Lake City, UT<br />
  801.746.0404</p>
  <p><a href="http://www.vtnetwork.org/" target="_blank">Vermont Network Against Domestic Violence and Sexual Assault</a><br />
  Montpelier, VT<br />
  802.223.1302</p>
  <p><a href="http://www.vsdvalliance.org" target="_blank">Virginia Sexual and Domestic Violence Action Alliance</a><br />
  Charlottesville, VA<br />
  434.979.9002<br />
  Richmond, VA<br />
  804.377.0335 (v/tty)</p>
  <p><a href="http://www.wcsap.org" target="_blank">Washington Coalition of Sexual Assault Programs</a><br />
  Olympia, WA<br />
  360.754.7583</p>
  <p><a href="http://www.fris.org" target="_blank">West Virginia Foundation for Rape Information and Services</a><br />
  Fairmont, WV<br />
  304.366.9500</p>
  <p><a href="http://www.wcasa.org" target="_blank">Wisconsin Coalition Against Sexual Assault</a><br />
  Madison, WI<br />
  608.257.1516</p>
  <p><a href="http://www.wyomingdvsa.org/" target="_blank">Wyoming Coalition Against Domestic Violence and Sexual Assault </a><br />
  Laramie, WY<br />
  307.755.5481</p>
</div>
{% endblock %}
